# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled files
*.so
*.pyd
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual Environments
# =========================
my_world/
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Database files
# =========================
*.db
*.sqlite3
*.sqlite

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Cache
# =========================
.cache/