.overall-admins-admin-container{

}
.admins-superuser-header-section{
width: 100%;
height: 10rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
line-height: 15px;
}

@media screen and (max-width: 34.9em) {
  .admins-superuser-header-section {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
  
}
.left-sidesuper-user-header h2{
font-size: 3rem;
color: white;
}
.left-sidesuper-user-header p{
font-size: 1.5rem;
color: rgb(154, 153, 153);
}

.right-side-super-user-header button{
display: flex;
align-items: center;
gap: 0.5rem;
font-size: 1.5rem;
padding: 1rem;
}
@media screen and (max-width: 34.9em) {
  .right-side-super-user-header{
    width: 100%;
  }
.right-side-super-user-header button{
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
}